html {
  background-color: #E3E3E3;
}

#GUIMBB {
  padding: 15px;
  background-color: #E3E3E3;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  z-index: 1000;
}

#headerMBB {
  font-size: 16px;
  text-align: center;
}

#boxMBB {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.buttonMBB {
  font-size: 17px;
  text-align: center;
  padding: 5px 11px 5px 11px;
  border-radius: 2px;
}

.buttonMBB:hover {
  cursor: pointer;
}

#startButtonMBB {
  background-color: green;
  color: white;
  margin-right: 10px;
}

#stopButtonMBB {
  background-color: red;
  color: black;
}

#GUIMBB label {
  font-size: 13px;
}

#GUIMBB form {
  padding: 20px 10px 20px 10px;
}

#updateButtonMBB {
  background-color: #222;
  color: white;
  margin: auto;
  width: max-content;
}
